    <aside class="details-sidebar canvas-right bg-dark pull-right">
        <div class="slimscroll" data-height="auto" data-size="6px" data-distance="0">
            <div class="row pd-md right-sidebar-content">
                {{outlet}}
            </div>
        </div>
    </aside>
    <section class="panel panel-primary">

        <div class="panel-heading">
            {{input type="text" value=searchTerm classNames='form-control input-rounded' id="search"}}
        </div>
        <ul class="list-group list">
            {{#each assignment in filteredData}}
                {{#link-to 'assignments.info' assignment}}
                    <li class="list-group-item toggle-right assignment" >

                        <div class="show no-margin mg-t-xs">
                            {{assignment.assignment_name}}
                            <span {{bind-attr class=":label :pull-right assignment.urgencyLabel"}}>
                                Due {{assignment.dueDate}}
                            </span>
                        </div>

                        <small class="text-muted">{{assignment.course_id.course_name}}</small>
                    </li>
                {{/link-to}}
            {{/each}}
        </ul>
    </section>