<div class="col-sm-12">
    <section class="panel no-border overflow-hidden">
        <div class="bg-info pd-md clearfix">
            <div class="h3 mg-t-xs mg-b-xs">{{assignment_name}} </div>
            <small>{{enrolled.course_name}}</small>
        </div>
        <div class="panel-body black">
            {{description}}
        </div>
        <div class="row no-margin">
            <div class="col-sm-12 bg-warning pd-md text-center">
                        <span class="h4">
                        <i class="fa fa-clock-o"></i> {{dueDate}}
                        </span>
            </div>
        </div>

        <div class="row no-margin">
            <div class="col-sm-12 pd-md text-center">
                        <span class="h4">
                            <button type="button"  class="btn btn-primary btn-sm" {{action 'removeAssignment'}} >
                                <i class="fa fa-check"></i> Done
                            </button>
                        </span>
            </div>
        </div>
    </section>
</div>