<div id="newAssignments">
    <nav>
        <div class="due">
            What's Due
            <span class="badge square black">
                {{totalDue}}
            </span>
        </div>
        <div class="vertical-seperator white"></div>
        <div class="overdue">
            Overdue
            <span class="badge square black">
                {{totalOverdue}}
            </span>
        </div>
    </nav>

    <div id="assignments-due" class="needsclick">
        {{firstOfDay}}

        <div class="arrow-up"></div>
        {{#each assignment in due}}
            {{divider assignment.daysAway totalDue}}
            <div {{bind-attr class=":slider :left-box"}}>
                <div {{action 'removeAssignment' assignment}} class="reveal"></div>
                <div {{bind-attr class=":removable assignment.urgencyLabel"}}>
                    <div class="time">
                        <span class="from-now">
                            {{assignment.fromNow}} ago
                        </span>
                        <span class="time-due">
                            {{assignment.timeDue}}
                        </span>
                        <div class="course">
                            {{ assignment.course_id.course_name }}
                        </div>
                    </div>
                    <div class="info">

                        <div class="title">
                            {{assignment.assignment_name}}
                        </div>
                        <div class="description">
                            {{linkify assignment.description}}
                        </div>

                    </div>
                    {{input class="date-due" type='hidden' value=assignment.daysAway}}

                </div>
            </div>
        {{/each}}

    </div>

    <div id="assignments-overdue">
        <div class="arrow-up"></div>
        <div class="day-divider">
            Overdue
        </div>
        {{#each assignment in overdue}}
            <div {{bind-attr class=":slider :left-box assignment.hidden"}}>
                <div {{action 'removeAssignment' assignment}} class="reveal"></div>
                <div {{bind-attr class=":removable :red assignment.urgencyLabel"}}>
                    <div class="time">
                        <span class="from-now">
                            {{assignment.fromNow}}
                        </span>
                        <span class="time-due">
                            {{assignment.fromNow}}
                        </span>
                        <div class="course">
                            {{ assignment.course_id.course_name }}
                        </div>
                    </div>
                    <div class="info">
                        <div class="title">
                            {{assignment.assignment_name}}
                        </div>
                        <div class="description">
                            {{linkify assignment.description}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="static-content nothing-due hidden">
        <img src="assets/img/thumbs-up.png">
        <h2 class="centered">
            Looks like you've got nothing due
        </h2>
    </div>
</div>
