<div class="courses">
    {{#each course in filteredData}}
        <div class="slider left-box">
            <div {{action 'removeCourse' course}} class="reveal">
                {{icon "X"}}
            </div>

            <div class="putBackable fastAnimate">
                <div class="info">
                    {{icon "minus-red"}}

                    <div class="courseName">
                        {{course.course_name}}
                    </div>

                    <div class="instructorName">
                        {{course.instructor_name}}
                    </div>
                </div>
            </div>
        </div>
    {{/each}}


    <!--<div class="add-something">-->
        <!--<img src="assets/icons/ios/plus-big.png" {{action 'addCourse'}}>-->
        <!--Add a Course-->
    <!--</div>-->
    <div id="addCourse">
        <button {{action 'addCourse' course_code}} disabled class="disabled fastAnimate">Join</button>
        {{input type="text" value=course_code  maxlength="6" placeholder="Course Code"  class="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"}}

    </div>

    <p class="triangle-isosceles topleft hidden bubble">
        Enter your unique class code to join<br>
        If you don't have one, ask your teacher
    </p>

</div>