<div id="reminders">
    {{#unless empty}}
        <h3>
             My Reminders ( {{totalRecords}} of 3 )
        </h3>
    {{/unless}}
    {{input type="hidden" value=total id="total-reminders"}}

    <ul>
        {{# each reminder in model}}
        <li>
            <div class="reveal" {{action 'remove' reminder}}>
                    <span class="helper"></span>
                    {{icon "X"}}
            </div>
            <div class="putBackable fastAnimate">
                {{icon "minus-red"}}

                <p>
                    {{ reminder.time_before}} before each item
                </p>
            </div>
        </li>
        {{/each}}

    </ul>
    <div id="new-reminder">

        {{#unless maxxedOut}}
            <h3>
                Add Reminder
            </h3>
            <figure {{action 'add'}}>
                {{icon "plus-big"}}
            </figure>
            <form>
                Remind me
                <input class="time" type="tel" step="1" placeholder="0" max="30">
                <select class="time-frame">
                    <option value="hours">hour(s)</option>
                    <option value="days">day(s)</option>
                </select>
                before everything is due.
            </form>
        {{/unless}}

        {{#if maxxedOut}}
            <h3>
                Remove a reminder to add another
            </h3>
        {{/if}}

    </div>

    <p class="triangle-isosceles topleft hidden bubble">
        Choose how many hours or days you want to be reminded before each due date
    </p>
</div>