<div class="courses">
    <input id="search" class="search" type="text" placeholder="Search by Course or Instructor"/>


    <div class="send-syllabus"  {{action 'sendSyllabi'}} style="display: none">
        <p>
        Aww Shucks,
        we don't have your syllabus!!!
        </p>
        <div class="btn btn-blue">
            COMPLAIN
        </div>
    </div>
    <ul class="searchable hidden">

    {{#each course in filteredData}}
        <li {{bind-attr class="course.hidden :slider :left-box"}}>
            <div {{action 'addCourse' course}} class="reveal">
                {{icon "cloud-white" "pull-left"}}
            </div>
            <div class="putBackable fastAnimate keep">
                <div class="time">
                    {{course.admin_id}}
                </div>
                <div class="info">
                    {{icon "plus-big"}}
                    <div class="courseName">
                        {{course.course_name}}
                    </div>
                    <div class="instructorName">
                        {{course.instructor_name}}
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>
</div>