<input class="search" type="text" placeholder="Search by Course or Instructor"/>
<ul class="searchable">
    {{#each course in filteredData}}
        <li class="slider left-box">
            <div {{action 'addCourse' course}} class="reveal">
                {{icon "plus" "pull-left"}}
            </div>
            <div class="putBackable animate keep">
                <div class="time">
                    {{course.admin_id}}
                </div>
                <div class="info">
                    <div class="title">
                        {{course.course_name}}
                    </div>
                    <div class="course">
                        {{course.instructor_name}}
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
</ul>

