<div class="courses">
    <input class="search" type="text" placeholder="Search by Course or Instructor"/>
    <ul class="searchable">
    {{#each course in filteredData}}
        <li {{bindAttr class="course.hidden :slider :left-box"}}>
            <div {{action 'addCourse' course}} class="reveal">
                {{icon "plus" "pull-left"}}
            </div>
            <div class="putBackable fastAnimate keep">
                <div class="time">
                    {{course.admin_id}}
                </div>
                <div class="info">
                    <div class="courseName">
                        {{course.course_name}}
                    </div>
                    <div class="instructorName">
                        {{course.instructor_name}}
                    </div>
                </div>
            </div>
        </li>
    {{/each}}
    </ul>

</div>