<div class="courses">
    <input id="search" class="search" type="text" maxlength="6" placeholder="Enter Course Code"/>


    <div class="send-syllabus"  {{action 'sendSyllabi'}} style="display: none">
        <p>
        Aww Shucks,
        we don't have your syllabus!!!
        </p>
        <div class="btn btn-blue">
            COMPLAIN
        </div>
    </div>
    <ul class="list">

    {{#each course in filteredData}}
        <li {{bind-attr class="course.hidden :hidden :slider :left-box"}}>
            <div {{action 'addCourse' course}} class="reveal">
                {{icon "cloud-white" "pull-left"}}
            </div>
            <div class="putBackable fastAnimate keep">
                <div class="info">
                    {{icon "plus-big"}}
                    <div class="courseName">
                        {{course.course_name}}
                    </div>
                    <div class="instructorName">
                        {{course.instructor_name}}
                    </div>
                </div>
            </div>
            <div class="hidden courseCode">
                {{course.course_code}}
            </div>
        </li>
    {{/each}}
    </ul>
</div>